@using Demo93.Feature.Navigation
@using Demo93.Feature.Navigation.Models
@model List<NavigationLinks>

@if (Model != null && Model.Count > 0)
{
    <ul class="sub-menu span2">

        @foreach (var navLink in Model)
        {
        <li class="menu-item menu-item-type-post_type menu-item-object-page">
            <a href="@navLink.Link">
                @Html.Sitecore().Field(Template.NavigationLinks.Fields.Name.ToString(), navLink.Item)
            </a>
            @Html.Partial("~/Views/Demo93/Navigation/_HeaderPartial.cshtml",navLink.Children)
        </li>
        }
    </ul>
}