<div class="footer">
    <div class="container">
        <div class="row">

            <div class="span3">
                <div id="text-8" class="footer_widget footer_widget_widget_text">
                    <h6>Our Locations:</h6>			<div class="textwidget">
                        <p>Greenstreet Coffee Co: 4533 Baltimore Ave, Philadelphia, PA 19143</p>
                        <p>Greenstreet Coffee Roastery: 1919 Alter St, Philadelphia, PA 19146</p>
                    </div>
                </div>
            </div>
            <div class="span3">
            </div>
            <div class="span3">
                <div id="text-4" class="footer_widget footer_widget_widget_text">
                    <h6>Newsletter Subscription</h6>			<div class="textwidget">
                        <script>(function() {
	window.mc4wp = window.mc4wp || {
		listeners: [],
		forms: {
			on: function(evt, cb) {
				window.mc4wp.listeners.push(
					{
						event   : evt,
						callback: cb
					}
				);
			}
		}
	}
})();</script><!-- Mailchimp for WordPress v4.8.1 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-4465 mc4wp-form-theme mc4wp-form-theme-green" method="post" data-id="4465" data-name="Default sign-up form">
                            <div class="mc4wp-form-fields">
                                <p>
                                    Join 2,356 other coffee lovers and get exclusive offers and info in our monthly newsletter!
                                </p>
                                <p>
                                    <label>Email address: </label>
                                    <input type="email" id="mc4wp_email" name="EMAIL" placeholder="Your email address" required="">
                                </p>
                                <p>
                                    <input type="submit" value="Sign up">
                                </p>
                            </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1641882897"><input type="hidden" name="_mc4wp_form_id" value="4465"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"><div class="mc4wp-response"></div>
                        </form><!-- / Mailchimp for WordPress Plugin -->
                    </div>
                </div>
            </div>
            <div class="span3">
                <div id="social_widget-2" class="footer_widget footer_widget_widget_social_widget">
                    <h6>Socialize with us</h6>                                     <!-- Social icons -->
                    <div class="social_icons">
                        <h6></h6>
                        <ul class="social_icons">
                            <li>
                                <a class="twitter" href="https://twitter.com/greenstcoffee" target="_blank" title="Twitter">Twitter</a>
                            </li>
                            <li>
                                <a class="facebook" href="https://www.facebook.com/greenstreetcoffee" target="_blank" title="Facebook">Facebook</a>
                            </li>
                            <li>
                                <a class="tumblr" href="http://greenstreetcoffee.tumblr.com" target="_blank" title="Tumblr">Tumblr</a>
                            </li>
                            <li>
                                <a class="instagram" href="http://instagram.com/greenstreetcoffee" target="_blank" title="Instagram">Instagram</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>