<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
      <sites>
        <site name="demo93" patch:before="site[@name='website']"
        virtualFolder="/"
        physicalFolder="/"
        rootPath="/sitecore/content/demo93"
        startItem="/Home"
        language="en"
        database="web"
        domain="extranet"
        allowDebug="true"
        cacheHtml="true"
        htmlCacheSize="50MB"
        enablePreview="true"
        enableWebEdit="true"
        enableDebugger="true"
        disableClientData="false"
        dictionaryPath="/sitecore/content/demo93/global/dictionary"
        dictionaryAutoCreate="true" />
      </sites>
    </sitecore>
</configuration>
